.page-header
  - if current_user
    .span.pull-right
      =link_to "Create Post", new_post_path(current_user), class: "btn btn-primary"
  %h1 Main Dashboard
.row
  .col-md-12
    .div.panel
      %ul.list-group
      -@posts.each do |post|
        - post_user = User.find(post.user_id)
        -if (post.postable_type == "Location")
          - location = post.location
          - if location.users.include?(current_user)
            .div.panel-body
              %li.list-group-item
                %span.pull-right
                  - if friendly?(current_user.id, post_user.id) == true || current_user.id == post.user_id || stealthy?(post_user.id) == false
                    %small
                      #{post.created_at.strftime("%d %b. %Y")},
                      =link_to "#{post_user.name}", user_path(post_user.id)
                  - else
                    %small #{post.created_at.strftime("%d %b. %Y")}, Anonymous User
                  -if post.user_id == current_user.id
                    %small
                      =link_to raw('<i class="glyphicon glyphicon-remove"></i>'), location_post_path(location.id, post.id),
                      method: :delete, data: {confirm: 'Are you sure you want to remove this post?'}
                #{post.body}
                .div
                  %small
                    #{post.postable_type}: #{Location.find(post.postable_id).zip_code}
        -elsif (post.postable_type == "Interest")
          - interest = post.interest
          - if interest.users.include?(current_user)
            .div.panel-body
              %li.list-group-item
                %span.pull-right
                  - if (stealthy_interest?(post.user_id, interest.id) == true || stealthy?(post_user.id)) && post_user != current_user
                    %small #{post.created_at.strftime("%d %b. %Y")}, Anonymous User
                  - elsif stealthy_interest?(post.user_id, interest.id) == false || (current_user.friends.include?(post_user) && current_user.friendships.find_by_friend_id(post.user_id).status == "confirmed") || current_user.id == post.user_id
                    %small
                      #{post.created_at.strftime("%d %b. %Y")},
                      =link_to "#{User.find(post.user_id).name}", user_path(post_user.id)
                  -if post.user_id == current_user.id
                    %small
                      =link_to raw('<i class="glyphicon glyphicon-remove"></i>'), interest_post_path(interest.id, post.id),
                      method: :delete, data: {confirm: 'Are you sure you want to remove this post?'}
                #{post.body}
                .div
                  %small
                    #{post.postable_type}: #{Interest.find(post.postable_id).topic.capitalize}
        -elsif post.postable_type == "User"
          -if (current_user.friends.include?(post_user) && current_user.friendships.find_by_friend_id(post.user_id).status == "confirmed") || current_user.id == post.user_id
            .div.panel-body
              %li.list-group-item
                %span.pull-right
                  %small
                    #{post.created_at.strftime("%d %b. %Y %H:%M")},
                    =link_to "#{User.find(post.user_id).name}", user_path(post_user.id)
                  -if post.user_id == current_user.id
                    %small
                      =link_to raw('<i class="glyphicon glyphicon-remove"></i>'), post_path(post.user_id, post.id),
                      method: :delete, data: {confirm: 'Are you sure you want to remove this post?'}
                #{post.body}
