.page-header
  - if current_user.locations.include?(@location)
    .span.pull-right
      =link_to "Create Post", new_location_post_path(@location, current_user), class: "btn btn-success"
  %h1 #{@location.zip_code} Dashboard
.row
  .col-md-8
    .h2 Activity
    .div.panel
      %ul.list-group
      -@location.posts.each do |post|
      - post_user = User.find(post.user_id)
        .div.panel-body
          %li.list-group-item
            %span.pull-right
              - if friendly?(current_user.id, post_user.id) == true || current_user.id == post.user_id || stealthy?(post_user.id) == false
                %small #{post.created_at.strftime("%d %b. %Y")},
                =link_to "#{post_user.name}", user_path(post_user.id)
              - else
                %small #{post.created_at.strftime("%d %b. %Y")},
                =link_to "Anonymous User", user_path(post_user.id)
              -if post.user_id == current_user.id
                %small
                  =link_to raw('<i class="glyphicon glyphicon-remove"></i>'), location_post_path(@location.id, post.id),
                  method: :delete, data: {confirm: 'Are you sure you want to remove this post?'}
            #{post.body}
  .col-md-4.pull-right
    .h2 Members
    %ul
    - @location.users.each do |user|
      - if friendly?(current_user.id, user.id) == true || user == current_user || stealthy?(user.id) == false
        %li
          =link_to "#{user.name}", user_path(user.id)
      -elsif stealthy?(user.id) == true
        %li
          =link_to "Anonymous User", user_path(user.id)
