<!DOCTYPE html>
<html>
<head>
  <title>Bliply</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Bliply", root_path %></li>
      <li><%= link_to "About", welcome_about_path %></li>
    </ul>
  </div>
<%= yield %>

</body>
</html>
