<!DOCTYPE html>
<html>
<head>
  <title>Bliply</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <div class="container">
    <%= render 'layouts/messages' %>
    <ul class="nav nav-tabs">
      <li>
        <% if user_signed_in? %>
          <%= link_to "Bliply", users_path %>
        <% else %>
          <%= link_to "Bliply", root_path %>
        <% end %>
      </li>
      <li><%= link_to "About", welcome_about_path %></li>
      <% if user_signed_in? %>
        <li role="presentation" class="dropdown pull-right">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Menu<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
            <li><%= link_to 'My Profile', user_path(current_user.id) %></li>
            <li><%= link_to 'Friends Dashboard', user_friendships_path(current_user.id) %></li>
            <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% end %>
          </ul>
        </li>
        <li class="pull-right"><%= "Signed in as: #{current_user.email.capitalize}" %></li>
        <% friend_status = current_user.friendships.select{|friend| friend.status == "requested"} %>
        <% if friend_status.length > 0  %>
          <li class="pull-right"><%= link_to raw('<i class="glyphicon glyphicon-flag"></i>'), user_friendships_path(current_user) %></li>
        <% end %>
      <% else %>
        <li class="pull-right"><%= link_to "Sign In", new_user_session_path %></li>
        <li class="pull-right"><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </ul>

<%= yield %>
  </div>
</body>
</html>
